<div class="container-fluid bg-dark text-light login-cont">
	<div class="container text-right">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<span style="font-size: 8pt;">Zalogowany jako</span> <span style="color: {% if is_granted('ROLE_ADMIN') %}#ffce00{% else %}green{% endif %}; font-weight: bold;">{{ app.user.username }}</span>  &nbsp;
			<i class="fas fa-user" style="color: {% if is_granted('ROLE_ADMIN') %}#ffce00{% else %}green{% endif %}; "></i>  &nbsp; 
			<a class="loginlink text-light" href="{{ path('app_logout') }}" style="font-size: 10pt; ">Wyloguj</a>
		{% else %}
			<a class="loginlink text-light" href="{{ path('app_login') }}">Login</a> &nbsp; 
			<i class="fas fa-user"></i>
		{% endif %}
	</div>
</div>

<div class="container menu-container">
	<nav class="navbar navbar-expand-md navbar-light">
		<a class="navbar-brand" href="/">
			<img src="/images/logo_sklad.png" style="height: 50px; ">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">

				{% for menuitem in menulist %}
				<li class="nav-item ">
					<a class="nav-link" href="/{{ menuitem.router }}">{{ menuitem.menutext }}</a>
				</li>
				{% endfor %}
{#
				{% if is_granted('ROLE_USER') %}
				<li class="nav-item">
					<a class="nav-link" href="">Panel</a>
				</li>
				{% endif %}
#}
				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin') }}">Admin</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</div>
